body{
    margin: 0 auto;
    padding: 0;
}
.box
{
    width: 1150px;
    height: 640px;
    margin: 0 auto;
    background-color: wheat;
    background-image: url("https://miandianyaowang.oss-cn-beijing.aliyuncs.com/image-20240227162456994.png");
    background-repeat: no-repeat;
   
}
#basicMessage{
    position: relative;
    top: 150px;
    width: 300px;
    height: 600px;
    margin:0 auto;
}
#submit
{
    position: relative;
    left:42%;
    top:-50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width:130px;
    height: 40px;
    transition: 1.5s;
}
#submit:hover{
    background-color: white;
    color: black;
}