* {
    margin: 0;
    padding: 0;
    cursor: default;
}
html, body {
    height: 100%;
}
ul {
    list-style: none;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.all {
    width: 1700px;
    margin: 0 auto;
}
.title {
    width: 1700px;
    height: 116.4px;
    background: #d9d9d9;
    font: normal 500 45px "微软雅黑";
    text-align: center;
    line-height: 116.4px;
}
.title>.title1 {
    display: inline-block;
    position: relative;
    left: 100px;
}
.title>img {
    display: inline-block;
    position: relative;
    left: -300px;
    top: 20px;
    transform: scale(1.3);
}
.name {
    display: inline-block;
    width: 150px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 150px;
    font: normal 300 20px "微软雅黑";
    line-height: 50px;
    text-align: center;
}
.button {
    display: inline-block;
    width: 150px;
    height: 50px;
    background: #6799ee;
    position: relative;
    left: 300px;
    border: 1px solid #6799ee;
    border-radius: 15px;
    font: normal 400 20px "微软雅黑";
    color: #fff;
    text-align: center;
    line-height: 50px;
}
@keyframes color {
    0% {

    }

    100% {
        background: #105bf6;
    }
}
.button:hover {
    animation: color .1s linear 0s normal forwards;
}
.function {
    display: flex;
    height: 826px;
    justify-content: flex-start;
}
.nav>img {
    display: inline-block;
    position: relative;
    top: 200px;
}
.nav {
    width: 340px;
    height: 100vh;
    min-width: 340px;
    background: #d9d9d9;
}
.main {
    width: 1360px;
    padding-left: 100px;
    padding-bottom: 100px;
    background: url(https://ye-fly.oss-cn-beijing.aliyuncs.com/image-20240227151212155.png);
}
.info {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fun {
    height:300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.fun>li {
    display: inline-block;
    height: 100px;
    text-align: center;
    font: normal 500 20px "微软雅黑";
    line-height: 100px;
    background: #a39998;
    color: #fff;
}
.trigon {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 14px solid white;
    position: relative;
    left: 100px;
}
.A {
    border-bottom: solid 1.5px #000;
}
.A2 {
    position: relative;
    left: 10px;
}
.son {
    display: none;
    width: 150px;
    height: 100px;
    position: relative;
    left: 340px;
    top: -51px;
}
.B {
    height: 50px;
    font: normal 500 18px "微软雅黑";
    text-align: center;
    line-height: 50px;
    background: rgb(217, 217, 217);
    border: solid 1.5px #000;
}
.B1 {
    border-bottom: none;
}
.fun>li:hover {
    animation: Color .1s linear 0s normal forwards;
}
.son>li:hover {
    animation: Color .1s linear 0s normal forwards;
}
@keyframes Color {
    0% {}

    100% {
        background: #3b3b3b;
    }
}
.basic {
    width: 1000px;
    height: 400px;
    position: relative;
    top: 100px;
    margin-bottom: 125px;
}
.basic>ul>li {
    font: normal 500 20px "微软雅黑";
    display: block;
    height: 50px;
}
/*.basic>ul>li>input {
    background: transparent;
}
.basicInformation {
    outline: none;
    width: 250px;
    height: 24px;
    font: normal 500 15px "微软雅黑";
    border-radius: 12px;
    border: solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: text;
} */
.basicInformation {
    display: inline-block;
    height: 24px;
    width: 200px;
    position: relative;
    top: 8px;
    font: normal 500 15px "微软雅黑";
}
.honor {
    position: relative;
    height: 500px;
    top: 50px;
}
/*.honor>textarea {
    display: inline-block;
    width: 800px;
    height: 200px;
    position: relative;
    top: -50px;
    outline: none;
    resize: none;
    border-radius: 25px;
    font: normal 500 16px "微软雅黑";
    padding: 15px;
    background: transparent;
}*/
.personalHonor {
    display: inline-block;
    width: 800px;
    height: 200px;
    border: solid 1px #000;
    position: relative;
    top: -50px;
    resize: none;
    border-radius: 25px;
    font: normal 500 16px "微软雅黑";
    padding: 15px;
    background: transparent;
}
.text {
    display: inline-block;
    font: normal 500 20px "微软雅黑";
    position: relative;
    top: -250px;
}
/*.submit {
    display: inline-block;
    height: 60px;
    width: 180px;
    position: relative;
    left: 400px;
    top: -225px;
    background: #6799ee;
    border-radius: 15px;
    border: none;
    color: #fff;
    font: normal 500 20px "微软雅黑";
}
.submit:hover {
    animation: color .1s linear 0s normal forwards;
}*/
.learn {
    display: none;
    height: 800px;
    padding: 50px;
    position: relative;
    left: -60px;
    top: -20px;
}
.learn>table {
    height: 700px;
    border-spacing: 0px;
    border-radius: 50px;
    background: rgba(217, 217, 217, 0.5);
}
td {
    width: 232px;
    border: solid 1px;
}
.head {
    height: 50px;
    border-top: none;
}
.person {
    height: 120px;
}
.left {
    border-left: none;
}
.right {
    border-right: none;
}
.bottom {
    border-bottom: none;
}
.time {
    text-align: center;
    font: normal 500 25px "微软雅黑";
    line-height: 50px;
}
.kind {
    text-align: center;
    font: normal 500 30px "微软雅黑";
    line-height: 120px;
}
.leave{
    display: none;
    height: 800px;
    padding-left: 60px;
}
.state {
    height: 50px;
    margin: 10px;
    font: normal 500 25px "微软雅黑";
}
.state>span{
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    border-radius: 40px;
}
.doing>span {
    background: #D9D22B;
}
.yes>span {
    background: #07FF02;
}
.no>span {
    background: #FF0202;
}
.news {
    display: inline-block;
    width: 400px;
    height: 150px;
    border-radius: 30px;
    background: rgba( 0, 0, 0, 0.5);
    margin-right: 100px;
    padding: 20px;
}
.news>div {
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: normal 500 20px "微软雅黑";
    color: #fff;
}
.Leave {
    width: 200px;
    height: 50px;
    position: relative;
    top: -20px;
    left: 380px;
    background-color: #6799ee;
    border: none;
    border-radius: 15px;
    font: normal 500 20px "微软雅黑";
    color: #fff;
}
.Leave:hover {
    animation: color .1s linear 0s normal forwards;
}
.leaveInformation {
    display: none;
    width: 1360px;
    height: 826px;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    left: -100px;
    top: -810px;
    z-index: 2;
}
.Info {
    width: 600px;
    height: 335px;
    background: url(https://ye-fly.oss-cn-beijing.aliyuncs.com/image-20240301082946356.png);
    margin: 0 auto;
    position: relative;
    top: 250px;
}
.close {
    height: 35px;
    background: rgba(0, 0, 0, 0.77);
}
.close>div {
    width: 35px;
    height: 35px;
    position: relative;
    left: 565px;
    font: normal 500 20px "微软雅黑";
    text-align: center;
    line-height: 35px;
}
.because {
    height: 30px;
    position: relative;
    top: 60px;
    font: normal 500 20px "微软雅黑";
    padding-left: 150px;
}
.Name {
    padding-left: 190px;
}
.because>input {
    outline: none;
    height: 20px;
    width: 200px;
    background-color: transparent;
    border: solid 1.5px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font: normal 500 15px "微软雅黑";
    cursor: text;
}
.Submit {
    width: 120px;
    height: 40px;
    position: relative;
    top: 120px;
    left: 270px;
    border: none;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.73);
    font: normal 500 18px "微软雅黑";
    color: #fff;
}
.adjust {
    display: none;
    height: 800px;
    padding-left: 60px;
}
.Time {
    margin-left: 20px;
}
.Submit2 {
    position: relative;
    top: 100px;
}



























